#Menu {
    -fx-background-color:  #3A4D8F;
}
#content {
    -fx-background-color:  #E1E5F2;
}
#upcoming_expense {
    -fx-background-color:  #3A4D8F;
    -fx-background-radius:  15 15 0 0;
}
.button {
    -fx-background-color: #3A4D8F;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0 0 0 0;
}
.button:hover {
    -fx-background-color: #2D3B64;
}
.button:pressed {
    -fx-background-color: #2D3B64;
}
.toggle-button {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color:  #3A4D8F;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header-background {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 15px;
}

.table-view .column-header {
    -fx-background-color: transparent;

}

.table-view .column-header.label {
    -fx-alignment: left;
    -fx-font-size: 14px;
    -fx-text-fill: #6C756B;
}

.table-view {
    -fx-background-radius: 15px;
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
}

.choice-box {
    -fx-background-color: white;
    -fx-border-color: #3A4D8F;
    -fx-border-radius: 5px;

}

.choice-box .label {
    -fx-text-fill: black;

}

.choice-box .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 5px;

}

.choice-box .arrow {
    -fx-background-color: #3A4D8F;
    -fx-background-radius: 5px;

}
.chart-legend-item-symbol {
    -fx-background-color: #3A4D8F;
}